@model List<MediaObjects>

<section class="media-objects-container grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">
@foreach(var item in Model)
{
    <div class="cell mediaObject">
        <div class="expanded">
            <h4 style="color: #a2a2a4;" class="editable" contenteditable="true" id="mo.title-@item.Id">@item.Title</h4>
        </div>
        <div class="expanded">
            <img src="@item.ImagePath" alt="@item.ImageAlt">
        </div>
        <div class="expanded">
            <p class="editable" contenteditable="true" id="mo.text-@item.Id">@item.Text</p>
        </div>
        <div class="expanded">
            <button class="button"><p style="padding: 0; margin: 0;" class="editable" contenteditable="true" id="mo.buttonText-@item.Id">@item.ButtonText</p></button>
        </div>
    </div>
}
</section>